<div id="grid_here" style="width: 600px; height: 400px;"></div>

<input type="button" value="Add" onclick="grid.addRow(grid.uid(),'new calendar')" />
<input type="button" value="Delete" onclick="grid.deleteSelectedRows()" />

<script type="text/javascript" charset="UTF-8">
	var grid = new dhtmlXGridObject("grid_here");
	grid.setImagePath("assets/imgs/");
	grid.setHeader("calendar.date, calendar.year, calendar.month, calendar.day, calendar.holiday");
	grid.attachHeader("#text_filter,#text_filter,#text_filter");
	grid.setColSorting("str,str,str");
	grid.setInitWidths("100,100,*");
	grid.setSkin("dhx_skyblue");
	grid.init();

	grid.load("<%= calendar_data_path %>", "json");
	dp = new dataProcessor("<%= calendar_db_action_path %>");
	dp.init(grid);
</script>
