<div id="grid_here" style="width: 600px; height: 400px;"></div>

<input type="button" value="Add" onclick="grid.addRow(grid.uid(),'new orderer')" />
<input type="button" value="Delete" onclick="grid.deleteSelectedRows()" />

<script type="text/javascript" charset="UTF-8">
	var grid = new dhtmlXGridObject("grid_here");
	grid.setImagePath("assets/imgs/");
	grid.setHeader("name,yomi");
	grid.attachHeader("#text_filter,#text_filter");
	grid.setColSorting("str,str");
	grid.setInitWidths("300,300");
	grid.setSkin("dhx_skyblue");
	grid.init();

	grid.load("<%= orderer_data_path %>", "json");
	dp = new dataProcessor("<%= orderer_db_action_path %>");
	dp.init(grid);
</script>

